body {  background-image:url('http://www.ukm.my/omfshukm/images/color_sky_wallpaperWeb.jpg');
	margin:50px 0px; padding:0px;
	text-align:center;
	}
h1
{ 
text-align: center;
font-family:"Trebuchet MS",Arial, Helvetica, sans-serif,font-size:18pt;
}
a
{
text-decoration:none;
width:150px;
height:50px;
border-color:black;
border-top:2px solid;
border-bottom:2px solid;
border-right:2px solid;
border-left:2px solid;
border-radius:1px 10px 10px;
-o-border-radius:10px 10px 10px;
-webkit-border-radius:10px 10px 10px;
font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
-moz-border-radius:10px 10px 10px;
background-color:navy;
padding:20px;
text-align:center;
}
a:link {color:white;}      /* unvisited link */
a:visited {color:white;}  /* visited link */
a:hover {color:black;}  /* mouse over link */
a:active {color:white;}  /* selected link */
